NEXT_PUBLIC_PRODUCTION_URL=''

#
#
NEXT_PUBLIC_SUPABASE_URL=''
NEXT_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=''
# DB password:
# access token:

# for rate limiting
# used for: 14 23 19
# 
# 
UPSTASH_REDIS_REST_URL=''
UPSTASH_REDIS_REST_TOKEN=''

AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
NEXT_PUBLIC_AWS_REGION='eu-central-1'

#
#
PUSHER_APP_ID=''
NEXT_PUBLIC_PUSHER_APP_KEY=''
PUSHER_SECRET=''

NEXT_PUBLIC_PAYPAL_CLIENT_ID_TEST=''
PAYPAL_CLIENT_SECRET_TEST=''
PAYPAL_WEBHOOK_ID_TEST=''
NEXT_PUBLIC_PAYPAL_CLIENT_ID_LIVE=''
PAYPAL_CLIENT_SECRET_LIVE=''
PAYPAL_WEBHOOK_ID_LIVE=''


NEXT_STRIPE_SECRET_KEY=''

# resend nicitaa.com login with githib
NEXT_RESEND_SECRET=''

NEXT_PUBLIC_SUPPORT_EMAIL=''
NEXT_PUBLIC_SUPPORT_NOTIFICATION_EMAIL=''


# For Cloudflare robot protection
NEXT_PUBLIC_TURNSTILE_SITE_KEY=''
TURNSTILE_SECRET_KEY=''


PINECONE_INDEX=''
PINECONE_ENVIRONMENT=''
PINECONE_API_KEY=''

# requires window.ethereum.request - window doesn't exist on server that's why _PUBLIC
NEXT_PUBLIC_METAMASK_ADRESS_ETH=''
NEXT_PUBLIC_METAMASK_ADRESS_BNB=''
NEXT_PUBLIC_METAMASK_ADRESS_MATIC=''

NEXT_PUBLIC_SOLANA_ADDRESS=''
NEXT_PUBLIC_SOLANA_CLUSTER='mainnet-beta' # use value "devnet" instead of "mainnet-beta" for testing


OPENAI_API_KEY=''
PRICE_WEBHOOK_SECRET=''

NEXT_COINMARKETCAP_SECRET=''

# requires window.solana.signAndSendTransaction - window doesn't exist on server that's why _PUBLIC
NEXT_PUBLIC_SOLANA_ADDRESS=''
NEXT_PUBLIC_SOLANA_CLUSTER='devnet'

TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''
NEXT_PUBLIC_TELEGRAM_URL=''

TINIFY_API_KEY_ARR=''

CHROMATIC_PROJECT_TOKEN=''

DEVICE_ID_ENCRYPTION_KEY=''

CRON_SECRET=''

NEXT_PUBLIC_IS_DEBUG='false'

# WARNING - If you change something here - change it in Brut as well

# twitter CLIENT_ID -
# twitter CLIENT_SECRET -
# twitter API KEY -
# twitter API KEY SECRET -

# supabase access token -
