@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* if you do any changes here it requires manually changes in Skeleton*/
@layer base {
  :root {
    --brand: 137deg 82% 22%;
    --background: 0deg 0% 93%;
    --foreground: 0deg 0% 84%;
    --foreground-accent: 0deg 0% 75%;
    --foreground-hover: 0deg 0% 74%; /* for skeleton */
    --title: 0deg 0% 12%;
    --title-foreground: 0deg 0% 90%;
    --subTitle: 0deg 0% 40%;

    /* The same colors */
    --border-color: 0deg 0% 40%; /*subTitle*/
    --icon-color: 0deg 0% 12%; /* title */

    /* Support colors */
    --info: 219deg 65% 36%;
    --warning: 22deg 84% 27%;
    --danger: 0deg 82% 34%;
    --success: 118deg 78% 20%;
  }
  /* I did it using rgb color picker and contrast checker */
  .dark {
    --brand: 137deg 82% 52%;
    --background: 0deg 0% 7%;
    --foreground: 0deg 0% 16%;
    --foreground-accent: 0deg 0% 25%;
    --foreground-hover: 0deg 0% 26%; /* for skeleton */
    --title: 0deg 0% 88%;
    --title-foreground: 0deg 0% 10%;
    --subTitle: 0deg 0% 63%;

    /* The same colors */
    --border-color: 0deg 0% 60%; /*subTitle*/
    --icon-color: 0deg 0% 88%; /* title */

    /* Support colors */
    --info: 219deg 83% 72%;
    --warning: 22deg 84% 73%;
    --danger: 0deg 80% 72%;
    --success: 118deg 80% 78%;
  }
}

html,
body,
:root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* This is strongly recommended when modal isOpen */
  /* overflow-y: auto; */
  /* Red color because user should not see this */
  background-color: green;
}

* {
  border-color: hsl(var(--border-color));
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: hsl(var(--title));
}

p,
span {
  color: hsl(var(--subTitle));
}

body {
  list-style: none;
  min-height: -webkit-fill-available;
  background-color: hsl(var(--background));
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.image-upload {
  /* https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FE0E00FF' stroke-width='4' stroke-dasharray='9%25%2c 10%25' stroke-dashoffset='6' stroke-linecap='butt'/%3e%3c/svg%3e");
}

/* disable default input styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Tooltip  */
@layer components {
  .tooltip {
    @apply relative inline-block;
  }
  .tooltip:hover .tooltiptext {
    @apply opacity-100 visible transition-all duration-300
    translate-y-[-105%]
    whitespace-nowrap w-auto h-auto px-4 py-2 text-title z-[99];
  }
  .tooltiptext {
    @apply opacity-0 invisible transition-all duration-300
    absolute top-[0] left-[50%] translate-x-[-50%] translate-y-[-110%]
    text-[1rem] text-center
    bg-foreground rounded z-[99];
  }
}

/* Checkbox.tsx */
.checkbox-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  outline: none;
  -webkit-appearance: 0;
  height: 15px;
  width: 15px;
  margin: 0px 8px 0px 3px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px hsla(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 0.1em;
  transform: scale(0);
  transition: all 0.4s;
  opacity: 0%;
  pointer-events: none;
  background-color: hsl(var(--brand) / 0.5);
}

.checkbox-container:hover input[type="checkbox"]:not(:checked)::before {
  transform: scale(3.6);
  opacity: 10%;
}

.checkbox-container input[type="checkbox"]:not(:checked)::after {
  display: none;
}

.checkbox-container input[type="checkbox"]:not(:checked) {
  transition: all 0.5s;
}

.checkbox-container input[type="checkbox"]:checked {
  transition: all 0.5s;
}

.checkbox-container input[type="checkbox"]:not(:checked):hover {
  background-color: hsl(var(--brand) / 0.4);
}

.checkbox-container input[type="checkbox"]:not(:checked):active {
  background-color: hsl(var(--brand));
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: hsl(var(--brand));
}

.checkbox-container input[type="checkbox"]:checked:hover {
  background-color: hsl(var(--brand));
}

.checkbox-container input[type="checkbox"]:checked:active {
  background-color: hsl(var(--brand));
}

.checkbox-container input[type="checkbox"]:checked::after {
  display: flex;
}

/* Hide scrollbar */
.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
@media (min-width: 1024px) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #6b7280 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #303030;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 8px;
    border: 3px solid #303030;
  }
}
