@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 137deg 82% 49%;
    --background: 0deg 0% 93%;
    --foreground: 0deg 0% 84%;
    --foreground-hover: 0deg 0% 74%; /* for skeleton */
    --title: 0deg 0% 12%;
    --title-foreground: 0deg 0% 10%;
    --subTitle: 0deg 0% 40%;

    /* The same colors */
    --border-color: 0deg 0% 40%; /*subTitle*/
    --icon-color: 0deg 0% 12%; /* title */

    /* Support colors */
    --info: 219deg 83% 59%;
    --warning: 22deg 84% 27%;
    --danger: 0deg 90% 40%;
    --success: 118deg 80% 23%;
  }
  /* inverted colors (HSL - L) */
  .dark {
    --brand: 137deg 82% 51%;
    --background: 0deg 0% 7%;
    --foreground: 0deg 0% 16%;
    --foreground-hover: 0deg 0% 26%; /* for skeleton */
    --title: 0deg 0% 88%;
    --title-foreground: 0deg 0% 10%;
    --subTitle: 0deg 0% 60%;
      
    /* The same colors */
    --border-color: 0deg 0% 60%; /*subTitle*/
    --icon-color: 0deg 0% 88%; /* title */

    /* Support colors */
    --info: 219deg 83% 59%;
    --warning: 22deg 84% 73%;
    --danger: 0deg 80% 69%;
    --success: 118deg 80% 77%;
  }
}

* {
  border-color: hsl(var(--border-color));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--title));
}

p,
span {
  color: hsl(var(--subTitle));
}

body {
  list-style: none;
  min-height: -webkit-fill-available;
  background-color: hsl(var(--background));
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.image-upload {
  /* https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FE0E00FF' stroke-width='4' stroke-dasharray='9%25%2c 10%25' stroke-dashoffset='6' stroke-linecap='butt'/%3e%3c/svg%3e");
}

/* disable default input styling */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Tooltip  */
@layer components {
  .tooltip {
    @apply relative inline-block;
  }
  .tooltip:hover .tooltiptext {
    @apply opacity-100 visible transition-all duration-300
    translate-y-[-105%]
    whitespace-nowrap w-auto h-auto px-4 py-2 text-title z-[99];
  }
  .tooltiptext {
    @apply opacity-0 invisible transition-all duration-300
    absolute top-[0] left-[50%] translate-x-[-50%] translate-y-[-110%]
    text-[1rem] text-center
    bg-foreground rounded z-[99];
  }
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
@media (min-width: 1024px) {
  * {
    scrollbar-width: auto;
    scrollbar-color: #6b7280 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #303030;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 8px;
    border: 3px solid #303030;
  }
}



